<h1>Index</h1>
<h2>DB entries will be reset to seed defaults when server is restarted</h2>

<ul>
  <li><a href="/cats">Cats</a></li>
  <li><a href="/humans">Humans</a></li>
  <li><a href="/houses">Houses</a></li>
</ul>
